/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 2rem;
}
*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
} 

.card {
  overflow: hidden;
  width: 25%;
  background-color: aliceblue;
  box-shadow: 0 2px 20px #383838;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}
.card__image {
    height: 12rem;
    width: 100%;
    object-fit: contain;
  }

.card__title {
    justify-self: center;
    padding: 1rem;
  }

  .card__description {
    padding: 0 1rem;
  }

  .card__btn {
    width: 90%;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid #d50000;
    background: transparent;
    color: #d50000;
    border-radius: 0.2rem;
  }

  .rows .row {
    display: inline-block;
 }