 .QRImage {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);  
 } 

 .QRButton {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);  
 } 


 .botonesQR {
    position: relative;
    display: flex;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
  }

  .fondoA {
    background-color: rgba(255, 153, 0, 0.493);
  }
  
  .fondoB {
    background-color: rgba(255, 0, 200, 0.507);
  }