 .QRImage {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);  
 } 

 .QRForm {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);  
 } 

 .SaveButton {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);  
 } 
