.rows .row {
    display: inline-block;
 }

 .grid {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 1fr;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    /* padding: 10px; */
  }

  .greenBackGround {
    background-color: rgba(0, 255, 0, 0.555);
  }

  .orangeBackGround {
    background-color: #ffdb8e;
  }
  
  .redBackGround {
    background-color: rgba(255, 0, 0, 0.521);
  }

  .bodyBackGround {
    background-color: #1e333a;
    width: 90%;
    margin: 0 auto;
    border: 10px solid #518c96;
    border-radius: 0.5%;
    padding-bottom: 1%;
  }

  .bodyTopBackGround {
    background-color: #112227;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
  }

  .nameForm {
    position: relative;
    text-align: center;
    border-radius: 1%;
    font-size: 220%;
    color: #112227;
    font-weight: bold;
    background-color: #fcfce5;
 } 

 .mySelect {
  font-size: 120%;
  color: #112227;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 5%;
  border-color: #518c96;
  background-color: #fcfce5;
} 

input.btn-check{
  width: 26px;
  height:26px;
}

input.btn-check:focus{ outline-width: 0;}

select:focus{ outline-style: groove; outline-color: #518c96;}
input:focus{ outline-style: groove; outline-color:#518c96; outline-width: 3px;}

.my-btn {
  font-size: 120%;
  color: black;
  border: 2px solid transparent;
  border-radius: 5%;
  background-color: #fcfce5;
  cursor: pointer;
}

.btn-outline-red {
  border-color: #c00202;
  color: #c00202;
  font-weight: bold;
}

.btn-outline-red:hover {
  background-color: #c00202;
  color: #fcfce5;
}

.btn-outline-brown {
  border-color: #7B5A00;
  color: #7B5A00;
  font-weight: bold;
}

.btn-outline-brown:hover {
  background-color: #7B5A00;
  color: #fcfce5;
}

.btn-outline-dark {
  border-color: #77c9d6;
  color: #77c9d6;
  font-weight: bold;
  background-color: #25383f;
}

.btn-outline-dark:hover {
  background-color: #77c9d6;
  color: #000000;
}

.btn-outline-dark2 {
  border-color: rgb(196, 209, 219);
  color: rgb(196, 209, 219);
  font-weight: bold;
  background-color: #1c2c31;
}

.btn-outline-dark2:hover {
  background-color: rgb(196, 209, 219);
  color: #000000;
}

.btn-outline-dark3 {
  border-color: #4d96a3;
  color: #4d96a3;
  font-weight: bold;
  background-color: #1c2c31;
}

.btn-outline-dark3:hover {
  background-color: #4d96a3;
  color: #000000;
}

.btn-outline-green {
  border-color: #00B693;
  color: #00B693;
  font-weight: bold;
}

.btn-outline-green:hover {
  background-color: #00B693;
  color: #fcfce5;
}

.btn-outline-pink {
  border-color: #e712ae;
  color: #e712ae;
  font-weight: bold;
}

.btn-outline-pink:hover {
  background-color: #e712ae;
  color: #fcfce5;
}

.btn-outline-orange {
  border-color: #FF7744;
  color: #FF7744;
  font-weight: bold;
}

.btn-outline-orange:hover {
  background-color: #FF7744;
  color: #fcfce5;
}

.input-text {
  position: relative;
  border-radius: 1%;
  font-size: 125%;
  color: #1c2c31;
  background-color: #fcfce5;
} 

.center {
  display:flex;
  justify-content: center;
  }

  .BotonSacarJson {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);  
 } 